
.app-header {
  background-color: $darkblue;
  border-bottom: 1px solid #222222;
}
.sidebar {

}
.btn-primary {
  background-color: lighten($darkblue, 10%);
  border-color: lighten($darkblue, 10%);
}
.btn-primary:hover {
  background-color: $darkblue;
  border-color: $darkblue;
}
